<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h2> Page under construction! </h2>
        <h4> Please do visit later! </h4>
    </body>
</html>