<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="page-header">
            <img src="/CODM_Logo.svg" onclick="goHome()">
            <div> GUNSMITH </div>
        </div>
        <div class="container">
            <% for (let i=0; i < data.length; i++) { %>
                <div class="tile" onclick="window.location.href='/type/<%= data[i] %>'">
                    <img src="https://img.freepik.com/free-photo/close-up-gun-surrounded-by-bullets_23-2150803606.jpg?semt=ais_hybrid">
                    <div> <%= data[i] %> </div>
                </div>
            <% } %>
        </div>
        <!-- <div class="footer"></div> -->
        <script src="/script.js"></script>
    </body>
</html>