<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="page-header">
            <img src="/CODM_Logo.svg">
            <div> <%= title %> </div>
        </div>
        <div class="container">
            <% for (let i=0; i < data.length; i++) { %>
                <div class="tile" onclick="showDetails('<%= JSON.stringify(data[i]) %>')">
                    <img src="https://img.freepik.com/free-photo/close-up-gun-surrounded-by-bullets_23-2150803606.jpg?semt=ais_hybrid">
                    <div> <%= data[i].name %> </div>
                    <!-- <button class="gunsmith-btn"> Gunsmith </button> -->
                </div>
            <% } %>
        </div>

        <!-- Dialog Box -->
         <div id="weapon-dialog" class="dialog hidden" onclick="closeDialog()">
            <div class="dialog-content" onclick="event.stopPropagation()">
                <h2 id="weapon-name"></h2>
                <div id="setup-options"></div>
                <img id="gunsmith-img" class="setup-img" alt="Image of gunsmith setup">
            </div>
         </div>

        <div class="footer"></div>

        <script src="/script.js"></script>
    </body>
</html>