<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h2> GUNSMITH </h2>
        <div class="container">
            <% for (let i=0; i < data.length; i++) { %>
                <div>
                    <%= data[i] %>
                </div>
            <% } %>
        </div>
    </body>
</html>